<!-- Сообщение об успешном создании заявки -->
<template id="success">
  <div class="form-message success">
    <p class="form-message__message">Ваше сообщение отправлено!</p>
  </div>
</template>
<!-- Конец сообщения -->

<!-- Сообщение об ошибке создания заявки -->
<template id="error">
  <div class="form-message error form-message--error">
    <!-- <div class="error__wrapper"> -->
    <p class="form-message__text">Ошибка! Ваше сообщение не отправлено, попробуйте снова.</p>

  </div>
</template>

<!-- Конец сообщения -->